/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */




/* Mobile */

html{
	margin: 1em;
	font-family: inter;
	background-color: black;
	color: white;
}

h1{
	font-size: 1.5em;
	text-align: center;
	padding-bottom: 1em;
	
}

footer{
	text-align: center;
	margin-top: 2em;
}

#gallery{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.5em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#gallery img{
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.big{

	transform: scale(1.2);

}

.hide{
	border: 2px solid white;
}

#title{
	text-align: center;
	margin-bottom: 1.5em;
}


/* Tablet */

@media only screen and (min-width: 768px) {
	#gallery{
		
		width:70%;
	
	}
         

}



/* Desktop */
@media only screen and (min-width: 992px) {
	#gallery{
		
		width: 50%;
	
	}
	
}
